<pre *ngIf="isLoaded">
{{serverData['some_message'].split('|')[0]}}
</pre>

<div class='ContainerForCode'>
  <textarea contenteditable="true" #pythonCode>
  
  </textarea>

  <div>
    <button id="Submit_Button" (click)=RunCode(pythonCode)>Click to Submit </button>
    <button (click)=BackToQuestions()>Back to Questions </button>
  </div>
</div>
<div class="SolutionDiv" *ngIf="ShowSolution">
  <pre #paragraphForSolution ></pre>
  <button id="" (click)="fetchSolution(paragraphForSolution)">Click to See {{SH}} </button>
</div>

<div class="NextPrevOptions">
    <button id="" (click)="NextQuestion()">Next Question </button>
    <button id="" (click)="PrevQuestion()">Prev Question </button>
</div>

<div *ngIf="isAnswered">
  <table style="width:100%">
    <tr>
      <th>Test Case</th>
      <th>Expected</th>
      <th>Output</th>
      <th>Correct Or Not</th>
    </tr>
    <tr *ngFor="let result of codeResult">
      <td>{{result.split('|')[0]}}</td>
      <td>{{result.split('|')[1]}}</td>
      <td>{{result.split('|')[2]}}</td>
      <td>{{result.split('|')[3]}}</td>
    </tr>

  </table>
</div>
<div *ngIf="ErrorOcurred">
  <p>{{error}}</p>
</div>